image:
  registry: docker.io
  repository: bitnamilegacy/oauth2-proxy
  tag: latest

replicaCount: 1

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: nginx
  hostname: oauth2-proxy.cryptoviz.epitech-msc2026.me
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  tls: true
  certManager: true

auth:
  clientID:
    valueFrom:
      secretKeyRef:
        name: oauth2-proxy
        key: client-id
  clientSecret:
    valueFrom:
      secretKeyRef:
        name: oauth2-proxy
        key: client-secret
  cookieSecret:
    valueFrom:
      secretKeyRef:
        name: oauth2-proxy
        key: cookie-secret

oauth2Proxy:
  provider: github
  redirectURL: "https://oauth2-proxy.cryptoviz.epitech-msc2026.me/oauth2/callback"
  scope: "user:email"
  whitelistedDomains:
    - kafdrop.cryptoviz.epitech-msc2026.me
    - oauth2-proxy.cryptoviz.epitech-msc2026.me

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

redis:
  enabled: false

containerSecurityContext:
  enabled: true

args:
  - "--provider=github"
  - "--email-domain=*"
  - "--redirect-url=https://oauth2-proxy.cryptoviz.epitech-msc2026.me/oauth2/callback"
  - "--scope=user:email"
  - "--whitelist-domain=kafdrop.cryptoviz.epitech-msc2026.me"
  - "--whitelist-domain=oauth2-proxy.cryptoviz.epitech-msc2026.me"
