replicaCount: 1

kafka:
  brokerConnect: "kafka-kafka-bootstrap.strimzi.svc.cluster.local:9092"
  propertiesFile: kafdrop-kafka.properties

service:
  type: ClusterIP
  port: 9000

ingress:
  enabled: false

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

jvm:
  opts: "-Xms64M -Xmx256M"
