name: kafka

networks:
  kafka:

services:

  node-1:
    image: apache/kafka:latest
    container_name: kafka-node-1
    environment:
      KAFKA_NODE_ID: 1
      # The server acts as both a broker and a controller.
      KAFKA_PROCESS_ROLES: controller,broker
      # The set of listeners that are used to receive requests from clients as well as other servers.
      KAFKA_LISTENERS: 'CONTROLLER://:9093,BROKER://:19092,CLIENT://:9092'
      # A comma separated list of listener names and the security protocol used for each listener.
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,BROKER:PLAINTEXT,CLIENT:SSL
      # The list of controller servers in the cluster
      KAFKA_CONTROLLER_QUORUM_BOOTSTRAP_SERVERS: node-1:9093,node-2:9093,node-3:9093
      # Map of id/endpoint information for the set of voters in a comma-separated list of {id}@{host}:{port} entries. 
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@node-1:9093,2@node-2:9093,3@node-3:9093
      # Which listener to use for controller communication
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      # Which listener to use for inter-broker communication
      KAFKA_INTER_BROKER_LISTENER_NAME: BROKER
      # The listener addresses that the Kafka brokers will advertise to clients
      # useful where the actual listener configuration listeners does not represent
      # the addresses that clients should use to connect, such as in cloud environments.
      KAFKA_ADVERTISED_LISTENERS: 'BROKER://:19092,CLIENT://localhost:9092'

  node-2:
    image: apache/kafka:latest
    container_name: kafka-node-2
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_LISTENERS: 'CONTROLLER://:9093,BROKER://:19092,CLIENT://:9092'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,BROKER:PLAINTEXT,CLIENT:SSL
      KAFKA_CONTROLLER_QUORUM_BOOTSTRAP_SERVERS: node-1:9093,node-2:9093,node-3:9093
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@node-1:9093,2@node-2:9093,3@node-3:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: BROKER
      KAFKA_ADVERTISED_LISTENERS: 'BROKER://:19092,CLIENT://localhost:9092'
    depends_on:
      - node-1


  node-3:
    image: apache/kafka:latest
    container_name: kafka-node-3
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_LISTENERS: 'CONTROLLER://:9093,BROKER://:19092,CLIENT://:9092'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,BROKER:PLAINTEXT,CLIENT:SSL
      KAFKA_CONTROLLER_QUORUM_BOOTSTRAP_SERVERS: node-1:9093,node-2:9093,node-3:9093
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@node-1:9093,2@node-2:9093,3@node-3:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: BROKER
      KAFKA_ADVERTISED_LISTENERS: 'BROKER://:19092,CLIENT://localhost:9092'
    depends_on:
      - node-1
      - node-2

  kafdrop:
    image: obsidiandynamics/kafdrop:4.2.0
    container_name: kafdrop
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: "node-1:19092,node-2:19092,node-3:19092"
      JVM_OPTS: "-Xms32M -Xmx64M"
    depends_on:
      - node-1
      - node-2
      - node-3