name: kafka

networks:
  kafka:

services:

  node-1:
    image: apache/kafka:latest
    container_name: kafka-node-1
    ports:
    - 19092:9092
    volumes:
      - ./node-1:/mnt/shared/config
    networks:
      - kafka

  node-2:
    image: apache/kafka:latest
    container_name: kafka-node-2
    ports:
    - 29092:9092
    volumes:
      - ./node-2:/mnt/shared/config
    depends_on:
      - node-1
    networks:
      - kafka

  node-3:
    image: apache/kafka:latest
    container_name: kafka-node-3
    ports:
    - 39092:9092
    volumes:
      - ./node-3:/mnt/shared/config
    depends_on:
      - node-1
      - node-2
    networks:
      - kafka

  kafdrop:
    image: obsidiandynamics/kafdrop:4.2.0
    container_name: kafdrop
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: "node-1:9092,node-2:9092,node-3:9092"
      JVM_OPTS: "-Xms32M -Xmx64M"
    depends_on:
      - node-1
      - node-2
      - node-3
    networks:
      - kafka
